<div class="column col-3">
    <div class="card">
        <h3>Dashboard</h3>
        <ul>
            <li style="text-transform: capitalize;"><a
                    href="/admin/profile"
            >{{user.first_name}}
                {{user.last_name}}</a></li>
            <li><a href="/admin/blogs">Blog</a></li>
            <li><a href="/admin/guest-blogs/">Guest posts</a></li>
            <li><a href="/admin/projects">Projects</a></li>
            <li><a href="/admin/settings">Settings</a></li>
        </ul>
    </div>
</div>