<footer class="footer">
      <div class="container">
        <div class="columns" style="align-items: center">
          <div class="column col-4 col-sm-12 col-md-6">
            <nav>
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Portfolio</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">Guest posts</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="column col-4 col-sm-12 col-md-6">
            {{{footer.text}}}
          </div>
          <div class="column col-sm-12 col-md-9">
            <div class="input-group">
              <input
                class="form-input"
                type="text"
                placeholder="Subscribe to our newsletter"
                id="input-example-1"
              />
              <button class="btn btn-primary input-group-btn">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
