<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{{header.description}}}" />
    <meta name="keywords" content="{{{header.keywords}}}" />

    <title>{{ header.title }}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="hamburger-container">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <header class="navbar">
        <nav class="navbar-section">
          <ul>
            <li class="nav-item navbar-brand">
              <a href="/">HabibDev.</a>
            </li>
            <li class="nav-item">
              <a href="/">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about">About</a>
            </li>
            <li class="nav-item">
              <a href="/projects">
                Projects
              </a>
            </li>
            <li class="nav-item">
              <a href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a href="/guest-blog">Guest posts</a>
            </li>
            <li class="nav-item">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      </div>