{{> header}}

    <div class="container">
  <div class="columns">
    <div class="column col-12">
      <div class="toast toast-danger">
        <h1>Error 404: page not found</h1>
        <p>
            The page you are looking for does not exist. It may have been
            moved, or removed altogether. Perhaps you can return back to the
            site's <a href="/">homepage</a> and see if you can find what you
            are looking for.
        </p>
      </div>
    </div>
  </div>

{{> footer}}