{{> header}}

<main class="container my-2">
  <div class="columns">
 <article class="column col-8 col-mx-auto col-md-12">
        <div class="card">
          <div class="card-header">
            <h1>{{header.title}}</h1>
          </div>
          <div class="divider"></div>
          <div class="card-body">
           {{{main.text}}}
          </div>
          <div class="divider"></div>
          <div class="card-footer">
          </div>
        </div>
  </article>
  </div>
    </main>

{{> footer}}