{{> header}}

<main class="container" style="width: 90%; margin: auto;">
        <div class="columns my-2">
            
                <section class="column col-6 col col-md-12 ">
                    <h1>Contact me</h1>
                    <p>
                    I'm thrilled you've made it this far through my portfolio! Whether you're interested in discussing potential opportunities, collaborating on an innovative project, or simply wish to chat about the latest in technology, I'm all ears.
                    </p>
                    <p>
                        Don't hesitate to reach out; I'm always open to new challenges and exciting ventures. Please fill out the form below or contact me through my social media channels listed here. I promise to get back to you at the earliest convenience.
                    </p>
                    <p>
                        <strong>Get in touch with me</strong>
                        <ul>
                            <li>E-mail: <a href="mailto:hezarehee.h@gmail.com">hezarehee.h@gmail.com</a></li>
                            <li>Phone: <a href="tel:+46761296363">+46-76 129 63 63</a></li>
                            <li><a href="https://www.linkedin.com/in/habibhezarehee/">Linkedin</a></li>
                            
                        </ul>
                    </p>
                    <p>
                        I look forward to hearing from you and thank you again for visiting my portfolio!
                        <br />
                        Best,
                    </p>
                    <img src="/images/map.png" class="img-responsive" alt="" />
                </section>
                <section class="column col-6 col-md-12 parent">
                    <h1>Send me a message</h1>
                        {{#if main.submissionMessage}}
                        
                            {{{main.submissionMessage}}}
                        
                        {{/if}}
                    
                
                    <form action="/contact" method="POST" class="form-horizontal col-8 col-md-12">
                    <div class="col-12 form-group">
                        <div class="col-3 col-sm-12">
                        <label class="form-label" for="name">Name</label>
                        </div>
                        <div class="col-9 col-sm-12">
                        <input
                            class="form-input"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Name"
                            value="{{{main.name}}}"
                        />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                        <label class="form-label" for="email">E-mail address</label>
                        </div>
                        <div class="col-9 col-sm-12">
                        <input
                            class="form-input"
                            type="email"
                            id="email"
                            name="email"
                            placeholder="john@example.com"
                            value="{{{main.email}}}"
                        />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                        <label class="form-label" for="message">Message</label>
                        </div>
                        <div class="col-9 col-sm-12">
                        <textarea
                            class="form-input"
                            id="message"
                            placeholder="Textarea"
                            rows="3"
                            name="message"
                            value="{{{main.message}}}"
                        ></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-3 col-sm-12"></div>
                        <div class="col-9 col-sm-12">
                        <button class="btn btn-primary input-group-btn">
                            Submit
                        </button>
                        </div>
                    </div>
                    </form>
                </section>  

        </div>
      </main>

{{> footer}}