{{> admin_header}}

<div class="container my-2">
    <div class="row">
        <div class="columns col-12">
            {{>admin_sidebar}}
            <div class="column col-9">
                <div class="col-12">
                    <h1 style="display: inline-block;">{{header.title}}</h1>
                </div>
                <div class="col-12">
                    {{#if errors}}
                        <div class="toast toast-error">
                            <p>{{ error }}</p>
                        </div>
                    {{/if}}
                </div>
                <p>this is new world order;</p>
                <div class="col-12">
                    <form method="post" action="{{action}}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title <span class="text-danger">*</span></label>
                            <input type="text" name="title" placeholder="Title" id="title" class="form-input"
                            required>
                        </div>
                        <div class="form-group">
                            <label for="content">Content <span class="text-danger">*</span></label>
                            <textarea name="content" rows="20" id="content" placeholder="Content" class="form-input"
                                    required>
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="main_image">Main Image <span class="text-danger">*</span></label>
                            <input type="file" name="image" id="main_image" placeholder="Main Image" class="form-input"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="author_first_name">Author First Name <span class="text-danger">*</span></label>
                            <input type="text" name="author_first_name" placeholder="Author First Name"
                                id="author_first_name" class="form-input"
                                    required>
                        </div>
                        <div class="form-group">
                            <label for="author_last_name">Author Last Name <span class="text-danger">*</span></label>
                            <input type="text" name="author_last_name" placeholder="Author Last Name"
                                id="author_last_name" class="form-input"
                                    required>
                        </div>
                        <div class="form-group">
                            <label for="author_email">Author Email <span class="text-danger">*</span></label>
                            <input type="email" name="author_email" placeholder="Author Email" id="author_email"
                                class="form-input"
                                    required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="{{submitButtonText}}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{> admin_footer}}